* { 
    margin: 0;
    padding: 0;
}

body{
    background-color: #F3F5FC;
}

.header{
    padding: 24px 16px 0px 16px;
}

.logo{
    width: 30px;
    height: 48px;
}

.contenedor{
    width: 100%;
}

.ingresar-texto{
    width: 100%;
}

.ingresar-texto textarea{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: #0A3871;
    margin: 56px 16px 0px 16px;
    border: 0;
    background-color: transparent;
}

textarea:focus,
select:focus,
button:focus {
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #0A3871;
    opacity: 1; /* Firefox */
}

.resultados{
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;

    /* White */
    background: #FFFFFF;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}