* { 
    margin: 0;
    padding: 0;
}

html, body{
    overflow-x: hidden;
}

body{
    background-color: #F3F5FC;
}

.header{
    padding: 24px 16px 0px 16px;
}

.logo{
    width: 30px;
    height: 48px;
}

.ingresar-texto, .contenedor-botones, .resultados, .box-texto-encriptado, .sin-resultados {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ingresar-texto textarea{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: #0A3871;
    margin: 56px 16px 16px 16px;
    border: 0;
    background-color: transparent;
    height: 15em;
}

textarea:focus,
select:focus,
button:focus {
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #0A3871;
    opacity: 1; /* Firefox */
}

.advertencia{
    display: flex;
    justify-content: left;
    gap: 8px;
    margin: 16px;
}

.contenedor-botones button {
    margin: 0 16px 24px 16px;
    border-radius: 24px;
    height: 67px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.btn-encriptar{
    background: #0A3871;
    color:white;
}

.btn-desencriptar, .btn-copiar{
    background: white;
    color: #0A3871;
}

.ingresar-texto p{
    font-family: 'Inter', sans-serif;
    color: #495057;
    margin: 0px 16px 0px 0px;
}

.resultados{
    height: auto;
    margin: 56px 16px 40px 16px;

    /* White */
    background: #FFFFFF;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.sin-resultados {
    /* display: none; */
    padding: 32px;
}

.sin-mensaje-notif {
    margin: 0 auto 16px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;    
    color: #343A40;
}

.sin-mensaje-notif-dos {
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #495057;
}

.box-texto-encriptado{
    display: none;
}

.box-texto-encriptado p{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: #495057;
    margin: 32px 32px 0 32px;
    text-align-last: left;
}

.box-texto-encriptado button{
    margin: 32px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border-radius: 24px;
    height: 67px;
}

@media screen and (min-width:768px){
    

}



/* todo: la animacion de pressing para los botones solo funciona en mobile */